#playField {
    width: 600px;
    height: 800px;
    border: black 1px solid;
    margin: 0 auto;
    position: relative;
}


#currentImage {
    position: absolute;
}

#score {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

button {
    display: block;
    margin: 20px auto;
    font-size: 24px;
    padding: 10px;
}

