html{
    width: 960px;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header{
    height: 200px;
    text-align: center;
    margin: auto;
    color: darkblue;
    position: relative;
    background-image: url("../fotos/bgsky3.jpg");

}

header img{
    float: right;
    position: absolute;
    right: 90px;
    bottom: 60px;
}

.uppertitle{
    font-size: 300%;
    margin: auto;
}
.lowertittle{
    font-size: 240%;
}

aside{
    width: 250px;
    box-sizing: border-box;
    display: inline-block;
    float:right;
    vertical-align:auto;
    border: 1px solid #999999;
    background-color: #dddddd;
}
aside p{
    color: #666666;
    font-size: 90%;
    padding-left: 10px;
    padding-right: 10px;

}
aside h3{
    background-color:blue;
    color: white;
    font-size: 120%;
    text-align: center;
    position: relative;
}

section{
    width: 700px;
   padding-right: 10px;
}

.tekst{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    margin-left: 150px;
}
.baba{
    background-color: white;
    color: black;
    text-align: left;
    float: left;
    width: 100px;
    height: 80px;
    margin: 20px 20px 0 20px;
}

.blue{
    color: blue;
    font-weight: bold;
    font-family: cursive;
}
.foto{
    height: 180px;
    width: 180px;
    padding: 10px 10px 10px 10px;
    border: 1px dashed #999999;
    background-color: white;
    margin: 10px;

}

article{
    background-color: #999999;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px 10px 10px 10px;
}

footer{
    background-color: #666666;
    color: white;
    line-height: 2em;
    display: flex;
    padding-left: 120px;
}

footer:last-child{
    padding-left: 120px;
}

footer a:hover{
    color: red;
}

div p{
    text-align: center;
    color: black;
    background-color: white;
}
